.card {
  max-width: 600px;
}

.underline {
  border: 1px solid white;
  margin: 0;
}

.card-text-small {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.buttonFix {
  position: fixed;
  bottom: 40px;
  right: 30px;
}